{% extends 'base.html.twig' %}

{% block body %}


<div class="Home_Home__I4pYx">
<div class="Home_banner__VCUR8">
</div>
<main class="Home_main__msqaq">
<header>
<h1>Nos Livres</h1>
<p>à lire et à relire</p>
{% for livre in livres %}
  <div class="livres">
   <img class="livre-accueil" src="{{ asset('imagesLivres/') ~ livre.imageName }}">
   <div class="infos-livre">
   <p>{{ recipe.titre }}</p>
   <p>{{ recipe.auteur }}</p>
   </div>
  </div>
{% endfor %}
<a class="button" href="{{ path('ajoutLivre') }}">+ Ajouter un livre</a>
</header>
<section class="Home_bookList__KNB4N">
</section>
</main>
</div>
{% endblock %}
